{{ #for (kind, tag) in self.tags.iter() }}
<li><a class="inline-block text-sm mr-1.5 mb-1.5 px-2 py-0.5 transition-colors duration-75 rounded focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-900 focus:ring-blue-400 {{ kind.classes() }}" href="/tag/{{ tag.id}}">{{ &tag.text }}</a></li>
{{ /for }}