<div class="tags">
    <span role="list">{{ #for (i, (kind, tag)) in self.tags.iter().enumerate() }}<wbr /><a class="tag {{ kind.class() }}" href="/search?search={{ crate::filters::percent_encode(&tag.text).render(writer) }}">{{ &tag.text }}</a><wbr />{{ #if i != (&self.tags.len() - 1) }}, {{ /if }}{{ /for }}</span>
</div>