<main>
    {{ #if self.stories.is_empty() }}
    {{ else }}
        {{ let len = self.stories.len() -1; }}
        {{ #for (i, story) in self.stories.iter().enumerate() }}
            {{ story.render(writer) }}
            {{ #if i != len }}
                <div class="hidden sm:block sm:px-6 lg:px-8 text-sm" aria-hidden="true">
                    <div class="border-t border-gray-700"></div>
                </div>
            {{ /if }}
        {{ /for }}
    {{ /if }}
</main>