@import "./rfs.scss";

// Cool Colors
$navy:  #001F3F;
$blue:  #0074D9;
$aqua:  #7FDBFF;
$teal:  #39CCCC;
$olive: #3D9970;
$green: #2ECC40;
$lime:  #01FF70;

// Warm Colors
$yellow:  #FFDC00;
$orange:  #FF851B;
$red:     #FF4136;
$maroon:  #85144B;
$fuchsia: #F012BE;
$purple:  #B10DC9;

// Gray Colors
$black:  #111111;
$gray:   #444444;
$silver: #DDDDDD;
$white:  #FFFFFF;

* {
    box-sizing: border-box;
}

html {
    font-family: Consolas, Menlo, Monaco, monospace, serif;
    margin: 0 auto;

    &.slim {
        @include rfs(60rem, max-width);
    }

    &.wide {
        @include rfs(84rem, max-width);

        body {
            section {
                display: flex;
                flex-direction: row;
                aside {
                    flex: 24;
                    @include rfs(1.5em, line-height);
                    @include margin-bottom(1rem);
                    @include margin-top(1rem);
                    @include margin-left(1rem);
                }
                main {
                    flex: 60;
                }
            }
        }
    }
}
html.light {
    body {
        background-color: $white;
        color: $black;
    }
}
html.dark {
    body {
        background-color: $black;
        color: $silver;
    }
}

body {
    overflow-y: scroll;
}

a {
    text-decoration: none;
    &:hover {
        text-decoration: line-through;
    }
}
html.light {
    a {
        color: $blue;
    }
}
html.dark {
    a {
        color: $aqua;
    }
}

hr {
    border: none;
    @include rfs(0.0625rem, height);
}
html.light {
    hr {
        background-color: $black;
    }
}
html.dark {
    hr {
        background-color: $silver;
    }
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

button {
    background-color: transparent;
    font-family: Consolas, Menlo, Monaco, monospace, serif;
    @include font-size(0.75rem);
    @include margin-top(0.3125rem);
    &:hover {
        cursor: pointer;
        text-decoration: line-through;
    }
}
html.light {
    button {
        border: 0.0625rem solid $black;
    }
}
html.dark {
    button {
        border: 0.0625rem solid $silver;
    }
}

textarea,
input[type="number"],
input[type="password"],
input[type="text"]  {
    border-width: 0rem;
    font-family: Consolas, Menlo, Monaco, monospace, serif;
    @include font-size(1rem);
    @include margin-left(0.3125rem);
    &:disabled {
        &::placeholder {
            font-family: Consolas, Menlo, Monaco, monospace, serif;
            @include font-size(1rem);
            text-decoration: line-through;
        }
    }
    &::placeholder {
        font-family: Consolas, Menlo, Monaco, monospace, serif;
        @include font-size(1rem);
    }
}
html.light {
    textarea,
    input[type="number"],
    input[type="password"],
    input[type="text"]  {
        border-bottom: 0.0625rem solid $black;
        color: $black;
        &:disabled {
            background-color: $white;
            color: $gray;
        }
        &::placeholder {
            color: $black;
        }
    }
}
html.dark {
    textarea,
    input[type="number"],
    input[type="password"],
    input[type="text"]  {
        background-color: $black;
        border-bottom: 0.0625rem solid $silver;
        color: $silver;
        &:disabled {
            background-color: $black;
            color: $gray;
        }
        &::placeholder {
            color: $gray;
        }
    }
}

nav {
    display: flex;
    @include rfs(1.5em, line-height);
    width: 100%;
    .brand {
        font-weight: bold;
        @include margin-right(0.9375rem);
    }
    .item {
        @include margin-right(0.625rem);
    }
    .spacer {
        flex: 1 auto;
    }
}
html.light {
    nav {
        .brand {
            color: $black;
        }
    }
}
html.dark {
    nav {
        .brand {
            color: $silver;
        }
    }
}

article.story {
    @include rfs(1.5em, line-height);
    @include margin-bottom(1rem);
    @include margin-top(1rem);
    header {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        .left {
            flex: 1 1 auto;
        }
        .right {
            flex: 0 1 auto;
        }
        p {
            margin: 0;
        }
    }
    .summary {
        p {
            @include margin-bottom(0.5rem);
            @include margin-top(0.5rem);
        }
    }
    .origins, .tags, .meta {
        display: block;
        @include margin-bottom(0.5rem);
        @include margin-top(0.5rem);
    }
    .origins, .tags {
        &:hover {
            cursor: pointer;
        }
    }
}
html.light, html.dark {
    article.story {
        .rating {
            &.explicit {
                color: $red;
            }
            &.mature {
                color: $orange;
            }
            &.rot-rated {
                color: $silver;
            }
            &.unknown {
                color: $gray;
            }
        }
        .title {
            color: $purple;
        }
        .tags .tag {
            &.warning {
                color: $red;
            }
            &.pairing {
                color: $orange;
            }
            &.character {
                color: $blue;
            }
            &.general {
                color: $olive;
            }
        }
        .info {
            color: $blue;
        }
        .count {
            color: $purple;
        }
    }
}
html.light {
    article.story {
        .origins a {
            color: $gray;
        }
        .summary {
            color: $gray;
        }
    }
}
html.dark {
    article.story {
        .origins a {
            color: $silver;
        }
        .summary {
            color: $silver;
        }
    }
}

form#filter {
    button {
        @include font-size(1rem);
        &:hover {
            border-color: $blue;
        }
    }
    fieldset {
        border: 1px solid black;
        @include margin-bottom(0.5rem);
        @include margin-top(0.5rem);
    }
    details {
        margin: 3px 0;
        summary {
            border-bottom: 1px solid black;
            margin: 3px 0;
            padding: 3px 0;
        }
        span {
            display: block;
        }
    }
}
